@model IEnumerable<HRMS.Models.AssignOnBoardReq>

<div class="container-fluid" style="border: 1px solid black;">
        <div class="row" style="height: 40px; font-size: 14px;">
            <div class="col-2 align-self-center">
                <select class="form-select">
                  <option selected>Filter by status</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
            </div>
            <div class="col-2 align-self-center">
                <select class="form-select">
                  <option selected>All</option>
                  <option value="1">Oneeeeeeeeeeeee</option>
                  <option value="2">Twooooooooooooo</option>
                  <option value="3">Threeeeeeeeeeee</option>
                </select>
            </div>
            <div class="align-self-center m-2">
                <a onclick="ShowInPopup('@Url.Action("AddOrEdit","Emp",null,Context.Request.Scheme)','Add New Task')" style="color: blue; cursor: pointer;">+ New Task</a>
            </div>
            <div class="align-self-center m-1 p-1">
                <span class="badge rounded-pill bg-secondary" style="height: 22px; width: 22px; line-height: 2;">0</span>
            </div>
            <div class="align-self-center m-1 p-1">
                <span class="badge rounded-pill bg-danger" style="height: 22px; width: 22px; line-height: 2;">0</span>
            </div>
            <div class="align-self-center m-1 p-1">
                <span class="badge rounded-pill bg-warning text-dark" style="height: 22px; width: 22px; line-height: 2;">0</span>
            </div>
            <div class="align-self-center m-1 p-1">
                <span class="badge rounded-pill bg-success" style="height: 22px; width: 22px; line-height: 2;">0</span>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="border: 1px solid black;">
        <table class="table">
            <thead>
                <tr>
                    <th class="col-md-6">
                        @Html.DisplayNameFor(model => model.TaskName)
                    </th>
                    <th class="col-md-2">
                        @Html.DisplayNameFor(model => model.AssigneeName)
                    </th>
                    <th class="col-md-2">
                        @Html.DisplayNameFor(model => model.DueDate)
                    </th>
                    <th class="col-md-2">
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model) {
                    <tr>
                        <td class="col-md-6">
                            @Html.DisplayFor(modelItem => item.TaskName)
                        </td>
                        <td class="col-md-2">
                            @Html.DisplayFor(modelItem => item.AssigneeName)
                        </td>
                        <td class="col-md-2">
                            @Html.DisplayFor(modelItem => item.DueDate)
                        </td>
                        <td class="col-md-2">
                            <div class="row">
                                <div class="col-md-1">
                                    <a onclick="ShowInPopup('@Url.Action("AddOrEdit","Emp",new {id = item.AssignTaskID},Context.Request.Scheme)','Edit Task')"><i class="bi bi-pencil" style="cursor: pointer;"></i></a>
                                </div>
                                <div class="col-md-1">
                                    <form asp-action="Delete" asp-route-id="@item.AssignTaskID" onsubmit="return JQueryAjaxDelete(this);" class="d-inline">
                                        <button type="submit" style="border:none; outline:none; background:none;"><i class="bi bi-trash3"></i></button>
                                    </form>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>