
@{
    ViewData["Title"] = "Create Onboarding Request";
}

<div class="container mt-4">
    <nav class="navbar navbar-light" style="border: 1px solid black;"   >
        <div>
            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="#fff" cursor="pointer" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
            </svg>
            @*<i class="bi bi-arrow-left-circle" style="color:#fff; width:22px; height:22px; cursor:pointer;"></i>*@
        </div>
        <span class="navbar-brand mb-0 m-auto h1">Onboarding Request</span>
    </nav>
    <div class="container-fluid" style="border: 1px solid black;">
        <form method="post" data-ajax="true" asp-action="OnboardRequest">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <div class="row">
                    <div class="col-6">
                        <label asp-for="Firstname" class="control-label"></label>
                        <input asp-for="Firstname" id="fname" class="form-control" />
                        <span asp-validation-for="Firstname" id="errfname" class="text-danger"></span>
                    </div>
                    <div class="col-6">
                        <label asp-for="Businessunit" class="control-label"></label>
                        <select asp-for="BUnitID" id="bunit" class="form-control"
                                asp-items="@(new SelectList(ViewBag.Listofbunit, "BUnitID", "Businessunit"))">
                        </select>
                        <span asp-validation-for="BUnitID" class="text-danger"></span>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-6">
                        <label asp-for="Lastname" class="control-label"></label>
                        <input asp-for="Lastname" id="lname" class="form-control" />
                        <span asp-validation-for="Lastname" id="errlname" class="text-danger"></span>
                    </div>
                    <div class="col-6">
                        <label asp-for="Department" class="control-label"></label>
                        <select asp-for="DeptID" id="DeptID" name="DeptID" class="form-control"
                                asp-items="@(new SelectList(ViewBag.Listofdept, "DeptID", "Department"))">
                        </select>
                        <span asp-validation-for="DeptID" class="text-danger"></span>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-6">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" id="email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="col-6">
                        <label asp-for="SubDepartment" class="control-label"></label>
                        <select asp-for="SDeptID" id="SDeptID" name="SDeptID" class="form-control"
                                asp-items="@(new SelectList(string.Empty, "SDeptID", "SubDepartment"))">
                        </select>
                        <span asp-validation-for="SDeptID" class="text-danger"></span>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-6">
                        <label asp-for="Mobile" class="control-label"></label>
                        <input asp-for="Mobile" id="mobile" class="form-control" />
                        <span asp-validation-for="Mobile" id="errmobile" class="text-danger"></span>
                    </div>
                    <div class="col-6">
                        <label asp-for="Designation" class="control-label"></label>
                        <input asp-for="Designation" id="designation" class="form-control" />
                        <span asp-validation-for="Designation" id="errdesignation" class="text-danger"></span>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-6">
                        <label asp-for="Doj" class="control-label"></label>
                        <input type="date" id="Doj" name="Doj" asp-format="{0:dd/MM/yyyy}" class="form-control" />
                        <span asp-validation-for="Doj" class="text-danger"></span>
                    </div>
                    <div class="col-6">
                        <label asp-for="ReportingManager" class="control-label"></label>
                        <select asp-for="RMID" id="rm" class="form-control"
                                asp-items="@(new SelectList(ViewBag.Listofrm, "RMID", "ReportingManager"))">
                        </select>
                        <span asp-validation-for="RMID" class="text-danger"></span>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-8">
                    </div>
                    <div class="col-4">
                        <button type="submit" id="btn1" class="form-control" value="submit"> Continue </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
     @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


    <script type="text/javascript">

        // Get SubDepartment dropdown list JS //
        $(document).ready(function () {
            var sdept = "<option value='0'>Select SubDepartment</option>";
            $('#SDeptID').html(sdept);
        });

        $(document).ready(function () {
            $('#DeptID').change(function () {
                var url = '@Url.Content("~/")' + "EmployeeOnRequest/GETSubDept";
                var ddlsource = "#DeptID";
                $.getJSON(url, { SDeptID: $(ddlsource).val() }, function (data) {
                    var sdept = '';
                    $("#SDeptID").empty();
                    $.each(data, function (i, subdept) {
                        sdept += "<option value" + subdept.value + "'>" + subdept.text + "</options>";
                    });
                    $('#SDeptID').html(sdept);
                });
            });
        });

        // jQuery-Ajax call to insert data to database //
        jQuery(document).ready(function () {  
            jQuery("body").on("click", "#btn1", function () {
                var requestModel = {};
            
                requestModel.Firstname   = jQuery('#fname').val();  
                requestModel.Lastname = jQuery('#lname').val();
                requestModel.Email   = jQuery('#email').val();  
                requestModel.Mobile = jQuery('#mobile').val();
                requestModel.Doj   = jQuery('#Doj').val();  
                requestModel.BUnitID = jQuery('#bunit').val();
                requestModel.DeptID   = jQuery('#DeptID').val();  
                requestModel.SDeptID = jQuery('#SDeptID').val();
                requestModel.Designation = jQuery('#designstion').val();
                requestModel.RMID = jQuery('#rm').val();

                jQuery.ajax({  
                    url: 'EmployeeOnRequest/OnboardRequest',  
                    method: 'post',  
                    data:   JSON.stringify(requestModel),  
                    contentType: "application/json; charset=utf-8",  
                    dataType: "json",  
                    success: function () {    
                        console.log(data);  
                    },  
                });
            })
        });

        // **************** Validation for input fields to block Special Chars and Number ******************* //
        $(function () {
            $("#mobile").keypress(function (e) {
                var keyCode = e.keyCode || e.which;
 
                $("#errmobile").html("");

                var regex = /^[0-9]+$/;

                var isValid = regex.test(String.fromCharCode(keyCode));
                if (!isValid) {
                    $("#errmobile").html("Only Numbers allowed.");
                }
 
                return isValid;
            });

            $("#fname").keypress(function (e) {
                var keyCode = e.keyCode || e.which;
 
                $("#errfname").html("");

                var regex = /^[A-Za-z]+$/;

                var isValid = regex.test(String.fromCharCode(keyCode));
                if (!isValid) {
                    $("#errfname").html("Only Letters allowed.");
                }
 
                return isValid;
            });

            $("#lname").keypress(function (e) {
                var keyCode = e.keyCode || e.which;
 
                $("#errlname").html("");

                var regex = /^[A-Za-z]+$/;

                var isValid = regex.test(String.fromCharCode(keyCode));
                if (!isValid) {
                    $("#errlname").html("Only Letters allowed.");
                }
 
                return isValid;
            });

            $("#designation").keypress(function (e) {
                var keyCode = e.keyCode || e.which;
 
                $("#errdesignation").html("");

                var regex = /^[A-Za-z0-9]+$/;

                var isValid = regex.test(String.fromCharCode(keyCode));
                if (!isValid) {
                    $("#errdesignation").html("Only Letters and Numbers allowed.");
                }
 
                return isValid;
            });
        });
    </script>

}
